/**{outline: 1px solid rgba(255,0,0,0.2);
}*/
a{
	text-decoration: none;
}
img{max-width: 100%;
}
.header{
	background-color:#F7F7F7;
	position: fixed;
	opacity: 0.9;
	z-index: 1000;
	padding: 0 300px;
}
.header img{
	max-width: 10%;
}
.menu ul{
    margin: 17px 30px;
    text-align: left;
    padding: 0 30px;
}
.menu{
	display: inline-block;
	position: absolute;
	margin: auto;
	text-align: center;

}
.menu li{
	display: inline-block;
	padding: 0px;
	font-family: 'Open Sans Condensed';
	margin: 0px;
	border-right: 2px solid #A8A8A8;
}
.menu li:last-child{
	border-right: none;
}
.menu a{
	display: block;
    color:#A8A8A8;
    text-transform: uppercase;
    padding: 10px;
}
.menu a:hover{
	transform: scale(1.2);
	background-color: #D7FCE3;
}
.video{
	outline: 1px solid #FF0000;
	height: 400px;
	position: relative;
	overflow: hidden;

}
.fullscreen
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*fin header */
/*Patty */
.cuad_verde{
	background: green;
	position: relative;
}
.cuad_plomo{
	background: gray;
}
p{
	float: right;
	color: red;
}
img{
	width: 100%;
}

.icono_contac{
	display: inline-block;
	width: 12%;
	margin: 4% 1%;
}
.contc_plomo{
	background: gray;
	text-align: center;
}
.cont > img{
		width: 10%;
}
#email > img{
	width: 10%;
	margin-bottom: 1%;
}
.equipo{
	margin: 2% 4%;
	text-align: center;
}
.list_equipo{

	max-width: 22%;
	margin: 1% 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
.list_equipo > img{
	border-radius: 100%;
}

.cont > img:hover{
	border-radius: 100%;
	box-shadow: rgb(150, 172, 150)5px 5px 5% 10px;

}

#email > img:hover{
	box-shadow: rgb(150, 172, 150)5px 5px 5px 10px;
}
/*Marisol*/
.cuadro1{
	margin-bottom: 40px;
	margin-top: 40px;
}
#abc{
	margin-left: 150px;

}
#bcd{
	margin-left: 150px;

}
p{
	text-align: center;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	margin-bottom: 30px;
}
.conferencia{
	width: 470px;
	height: 450px;
}
.pq {
	position: absolute;
	
	margin-left: 200px;
	margin-top: -320px;
}
.logia{
	position: absolute;
	margin-left: 180px;
	margin-top: -250px;
	color: white;
}
.logia2{
	position: absolute;
	margin-left: 50px;
	margin-top: -200px;
	color: white;
	height: 90px;
	width: 350px;

}
.cuadro3{
	margin-top: 40px;
	margin-bottom: 40px;
}
.cero{
	margin-left: 50px;
}
.separar{
	margin-bottom: 50px; 
	margin-top: 50px;
}


